<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">


    <bean id="quest" class="springdemo.entity.SlayDragonQuest">
        <constructor-arg value="#{T(System).out}"/>
    </bean>
    <bean id="minstrel" class="springdemo.entity.Minstrel">
        <constructor-arg value="#{T(System).out}"/>
    </bean>

    <bean id="zhangsan" class="springdemo.entity.aware.TestBeanNameAware">
        <property name="name" value="zhangsi"/>
        <property name="address" value="火星"/>
    </bean>

    <bean id="testApplicationAware" class="springdemo.entity.aware.TestApplicationAware"/>

    <bean id="braveKnight" class="springdemo.entity.BraveKnight">
        <constructor-arg index="0" ref="quest"/>
        <constructor-arg index="1" ref="minstrel"/>
    </bean>

<!--    <bean class="springdemo.entity.springauto.impl.GbqqPeppers"/>-->
<!--    <bean class="springdemo.entity.springauto.impl.GbqqPeppers"/>-->
<!--    <bean class="springdemo.entity.springauto.impl.GbqqPeppers"/>-->

    <bean id="qlxPeppers" class="springdemo.entity.springauto.impl.QlxPeppers" c:title="发如雪"/>
    <aop:config>
        <aop:aspect ref="minstrel">
            <aop:pointcut id="qiedian" expression="execution(* *embarkOnQuest(..))"/>
            <aop:before method="singBeforeQuest" pointcut-ref="qiedian"></aop:before>
            <aop:after method="singAfterQuest" pointcut-ref="qiedian"></aop:after>
        </aop:aspect>
    </aop:config>

</beans>