<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="braveKnight" class="springdemo.entity.BraveKnight">
        <constructor-arg ref="quest"/>
    </bean>
    <bean id="quest" class="springdemo.entity.SlayDragonQuest">
        <constructor-arg ref="#{T(System).out}"/>
    </bean>
    <bean id="minstrel" class="springdemo.entity.Minstrel">
        <constructor-arg ref="#{T(System).out}"/>
    </bean>
</beans>